doctype html
html(lang='fr')
  head
    meta(charset='UTF-8')
    title Page introuvable/Nicolas-BABACI
    link(rel='icon', href='/jeux/images/deco/favicon.ico')

  body(style='text-align: center; background:url(/jeux/images/gray-wallpaper7.jpg);font-size:28px;')
    a(href='/', title='accueil') Accueil

    p#img
        img(src="/jeux/images/deco/page404.png", alt="error 404")