
#body {
    background: url(/jeux/images/wallpaper-cv.jpg);
    background-repeat: no-repeat;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    height: 100%;
    margin: 0px;
    width: 100%;
}

#menu {
    left: 52%;
    margin-top: 20px;
    position: relative;
    transform: translate(-50%);
}

#brume {
    background: palegoldenrod;
    filter: blur(40px);
    margin-top: 230px;
    position: absolute;
}

h2 {
    text-align: center;
    text-decoration: underline;
}

#formulaire {
    background-color: silver;
    border: 3px solid grey;
    border-radius: 50px;
    border-style: outset;
    font-size: 18px;
    height: 340px;
    left: 50%;
    margin-top: 100px;
    padding: 10px 40px 20px 40px;
    position: absolute;
    text-align: center;
    top: 250px;
    transform: translate(-50%);
    width: 183px;
}


#listeJoueurs {
    background-color: silver;
    border: 3px solid grey;
    border-radius: 50px 0px 0px 50px;
    border-style: outset;
    font-size: 18px;
    height: 480px;
    left: 50%;
    margin-top: 70px;
    overflow: auto;
    padding: 10px 40px 20px 40px;
    position: absolute;
    text-align: center;
    top: 250px;
    transform: translate(-50%);
    width: 30%;
}

#listeJoueurs li {
    list-style-type: none;
    padding: 5px;
    text-align: center;
}

#listeJoueurs li::first-letter {
    text-transform: capitalize;
}

#medaille1 {
    position: absolute;
    top: 5px;
    left: 50px;
}

#medaille2 {
    position: absolute;
    top: 175px;
    left: 50px;
}

#medaille3 {
    position: absolute;
    top: 345px;
    left: 50px;
}

button {
    border-radius: 10px;
    color:navy;
    margin-left: 10px;
    padding: 0px 5px;
}

button:hover {
    color: tomato;
}

#saisi {
    font-size: 14px;
}

input + span {
    padding-right: 10px;
}

input:invalid + span:after {
    content: '✖';
    padding-left: 10px;
    position: absolute;
}

input:valid + span:after {
    content: '✓';
    padding-left: 10px;
    position: absolute;
}

input:hover {
    color: tomato;
}

#monTitre {
    background-color: rgba(255, 255, 255, 0.1);
    box-shadow: 0px 0px 50px black;
    color: brown;
    font-size: 70px;
    margin-top: 50px;
    padding: 25px 0px;;
    position: relative;
    text-align: center;
    width: 100%;
}

#mission {
    font-weight: bold;
    left: 50%;
    margin-top: 13%;
    position: fixed;
    transform: translate(-50%);
}

#p3 {
    font-weight: bold;
    position: relative;
    text-align: center;
    top: 580px;
}

#panneauDesUsers {
    left: 50%;
    position: absolute;
    top: 260px;
    transform: translate(-50%);

}

#topUser {
    color: palegoldenrod;
    font-weight: bold;
    font-size: 16px;
    left: 30px;
    margin: 0px;
    position: absolute;
    text-transform: uppercase;
    top: 10px;
}

#liens {
    color: palegoldenrod;
    text-decoration: none;
}

#liens:hover {
    color: tomato;
}

#liste {
    margin-top: -600px;
    position: relative;
}

#joueurs {
    font-size: 12px;
    font-weight: bold;
    left: 7%;
    position: absolute;
    text-align: center;
    text-transform: uppercase;
    width: 160px;
}

#top {
    color: palegoldenrod;
    font-size: 16px;
    left: 36px;
    margin: 0px;
    padding-bottom: 8px;
    position: absolute;
    top: 213px;
}

#topScores {
    font-size: 12px;
    font-weight: bold;
    left: 7%;
    position: absolute;
    text-align: center;
    text-transform: uppercase;
    top: 95px;
    width: 160px;
}

#hit {
    color: brown;
}